.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #009FCB;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #009FCB;
    color: #fff;
	border: solid 1px #009FCB;
}

.pagination .current.prev, .pagination .current.next{
	color:gray;
	border-color:#009FCB;
	background:#fff;
}
