<div id="footer">
		copyright &copy; 2009-<script type="text/javascript">var currentTime = new Date();document.write(currentTime.getFullYear());</script> Josh Rachner | <a href="mailto:contact@joshrachner.com">contact@joshrachner.com</a>
</div>