<h1>Job Experience</h1>
<b>Sense Corp</b><br/>
<i>Technology Consultant</i>
<ul>
<li>Technical Architect & Developer (Web Portals)</li>
<li>Business/Functional Analyst</li>
</ul>
<br/><hr>
<hr><br/>
<b>Forestar Group</b> - Austin, TX<br/>
<i>Technology Consultant</i>
<ul>
<li>Technical Architect & Developer (SharePoint 2010 / C# / ASP.NET)</li>
<li>Business/Functional Analyst</li>
</ul>
<br/><hr>
<hr><br/>
<b>Wyman Center</b> - St Louis, MI<br/>
<i>Technology Consultant</i>
<ul>
<li>Technical Architect & Developer (SharePoint 2007 / C# / ASP.NET)</li>
<li>Business/Functional Analyst</li>
</ul>
<br/><hr>
<hr><br/>
<b>LaNuve.com</b> - Austin, TX<br/>
<i>Technology Consultant</i>
<ul>
<li>Ruby on Rails Development</li>
<li>Internal Infrastructure Implementation (Unix/Linux, RoR)</li>
</ul>
<br/><hr>
<hr><br/>
<b>Moodfish.com</b> - Austin, TX<br/>
<i>System Specialist</i>
<ul>
<li>System Performance & SEO Consultant</li>
<li>Ubuntu Linux Server Administration</li>
</ul>
<br/><hr>
<hr><br/>
<b>Turn2Live.com</b> - Austin, TX<br/>
<i>System Specialist</i>
<ul>
<li>Ruby on Rails Development</li>
<li>Ubuntu Linux Server Administration</li>
</ul>
<br/><hr>
<hr><br/>
<b>Pointserve Inc.</b> - Austin, TX<br/>
<i>Quality Assurance Intern</i>
<ul>                                                              
<li>QA for C++, PL/SQL Applications</li>
<li>Agile/Scrum Development</li>
</ul>
<br/><hr>
<hr><br/>
<b>Chevron Corporation</b> - Houston, TX<br/>
<i>Energy Technology Company Intern</i>
<ul>
<li>Red Hat Linux Server Administration</li>
<li>Application Integration & Testing : Google Earth Products</li>
</ul>	
<br/><hr>
<hr><br/>
<b>YMCA of Greater Houston Area</b> - Houston, TX<br/>
<i>IT Department Intern</i>
<ul>
<li>Hardware/Software Computer Technician</li>
<li>Windows Server Adminstration</li>
</ul>
<br />