<h1 style="margin:24px 0 0">Job Experience</h1>

	<div id="hiddenresult" style="display:none;"> 
		<% @experiences.each do |job| %>
			<div class="post">
				<b><%= job.company %></b><%= ' - ' + job.location if notempty?(job.location) %><br/>
				<i><%= job.title %></i>	
				<ul>
					<li><%= job.description %></li>
				</ul>
				<br/><hr><br/>
			</div>	
		<% end %>
	</div>
	
	<br style="clear:both;" />
	<div id="Searchresult">
	    This content will be replaced when pagination inits.
	</div>

	<div id="Pagination"></div>