<h1 style="margin:24px 0 0">Job Experience</h1>

	<div id="hiddenresult" style="display:none;"> 
		<% @experiences.each do |job| %>
			<div class="post">
				<b><%= job.company %></b><%= ' - ' + job.location if notempty?(job.location) %><br/>
				<i><%= job.title %></i>	
				<ul>
					<li><%= job.description %></li>
				</ul>
				<br/><hr><br/>
			</div>	
		<% end %>
		
		<!--<div class="post"> 
			<b>Sense Corp</b><br/>
			<i>Consultant</i>	
			<ul>
				<li>Web Portals, Business Intelligence, Data Warehousing, IT Strategy</li>
			</ul>
			<br/><hr><br/>
		</div>	
	
		<div class="post">
			<b>Farm Credit Bank of Texas</b> - Austin TX<br/>
			<i>Consultant</i>	
			<ul>
				<li>Loan Accounting Software Assessment</li>
			</ul>
			<br/><hr><br/>
	  </div>	

		<div class="post">
			<b>Universal Weather And Aviation Inc.</b> - Houston TX<br/>
			<i>Consultant</i>	
			<ul>
				<li>Enterprise IT Assessment</li>
			</ul>
			<br/><hr><br/>
		</div>	

		<div class="post">
			<b>American Home Mortgage Servicing Inc.</b> - Dallas, TX<br/>
			<i>Consultant</i>	
			<ul>
				<li>Data Warehouse Quality Assurance</li>
			</ul>
			<br/><hr><br/>
		</div>	

		<div class="post">
			<b>Forestar Group</b> - Austin, TX<br/>
			<i>Consultant</i>
			<ul>
			<li>SharePoint 2010 Implementation</li>
			</ul>
			<br/><hr><br/>
		</div>	

		<div class="post">
			<b>Wyman Center</b> - St Louis, MI<br/>
			<i>Consultant</i>
			<ul>
			<li>SharePoint 2007 Implementation</li>
			</ul>
			<br/><hr><br/>
		</div>	

		<div class="post">
			<b>Moodfish.com</b> - Austin, TX<br/>
			<i>System Specialist</i>
			<ul>
			<li>Software Development Advisor</li>
			</ul>
			<br/><hr><br/>
		</div>	

		<div class="post">
			<b>LaNuve.com</b> - Austin, TX<br/>
			<i>Technology Consultant</i>
			<ul>
			<li>Ruby on Rails Development</li>
			</ul>
			<br/><hr><br/>
		</div>	

		<div class="post">
			<b>Turn2Live.com</b> - Austin, TX<br/>
			<i>System Specialist</i>
			<ul>
			<li>Ruby on Rails Development</li>
			</ul>
			<br/><hr><br/>
		</div>	

		<div class="post">
			<b>Pointserve Inc.</b> - Austin, TX<br/>
			<i>Quality Assurance Intern</i>
			<ul>                                                              
			<li>ERP Software Quality Assurance</li>
			</ul>
			<br/><hr><br/>
		</div>	

		<div class="post">
			<b>Chevron Corporation</b> - Houston, TX<br/>
			<i>Energy Technology Company Intern</i>
			<ul>
			<li>Application Integration and Infrastructure Management</li>
			</ul>	
			<br/><hr><br/>
		</div>	

		<div class="post">
			<b>YMCA of Greater Houston Area</b> - Houston, TX<br/>
			<i>IT Department Intern</i>
			<ul>
			<li>Computer Technician and Infrastructure Management</li>
			</ul>
			<br/><hr><br/>
		</div>-->	
	</div>

<br style="clear:both;" />
<div id="Searchresult">
    This content will be replaced when pagination inits.
</div>

<div id="Pagination"></div>