<h1>Job Experience</h1>
<b>Sense Corp</b><br/>
<i>Consultant</i>
<ul>
<li>Technical Resource (Web Portals, Business Intelligence, Data Warehousing)</li>
<li>Business/Functional Analyst</li>
</ul>
<br/><hr>
<hr><br/>
<b>Forestar Group</b> - Austin, TX<br/>
<i>Consultant</i>
<ul>
<li>Technical Architect & Developer (SharePoint 2010 / C# / ASP.NET)</li>
<li>Business/Functional Analyst</li>
</ul>
<br/><hr>
<hr><br/>
<b>Wyman Center</b> - St Louis, MI<br/>
<i>Consultant</i>
<ul>
<li>Technical Architect & Developer (SharePoint 2007 / C# / ASP.NET)</li>
<li>Business/Functional Analyst</li>
</ul>
<br/><hr>
<hr><br/>
<b>Moodfish.com</b> - Austin, TX<br/>
<i>System Specialist</i>
<ul>
<li>System Performance & SEO Consultant</li>
<li>Ubuntu Linux Server Administration</li>
</ul>
<br/><hr>
<hr><br/>
<b>LaNuve.com</b> - Austin, TX<br/>
<i>Technology Consultant</i>
<ul>
<li>Ruby on Rails Development</li>
<li>Internal Infrastructure Implementation (Unix/Linux, RoR)</li>
</ul>
<br/><hr>
<hr>
<%= link_to 'See More &gt;&gt;', :action => 'experience2' %>