<h1>Job Experience</h1>
<a href="resume.html"><< See resume</a><br/><br/>
<b>Turn2Live.com</b> - Austin, TX  &nbsp;&nbsp;(August '08 - September '09)<br/>
<i>Back-end Developer / System Specialist</i>
<ul>
<li>Manage Ruby on Rails (RoR) development environment</li>
<li>Maintain Ubuntu Linux development servers and administer users</li>
<li>Develop back-end data crawler functionality using RoR's Hpricot</li>
<li>Develop back-end data validations/processing in RoR </li>
<li>Test front-end/back-end and fix application defects</li>
<li>Test code and provide design recommendations</li>
<li>Assist in project management</li>
</ul>
<br/><hr>
<hr><br/>
<b>Pointserve Inc.</b> - Austin, TX &nbsp;&nbsp;(May '08 - December '08)<br/>
<i>Quality Assurance Intern</i>
<ul>                                                              
<li>Tested Dispatch, Domain Manager, and Mobile applications</li>
<li>Wrote test plans for defects and enhancements</li>
<li>Tested across multiple OS platforms and devices</li>
<li>Analyzed Solaris base processes, system logs, and Oracle back-end </li>
<li>Filed defects using Test Track Pro and JIRA</li>
<li>Revised user guides, software overviews, and regression tests</li>
<li>Involved in agile/scrum development environment</li>
</ul>
<br/><hr>
<hr><br/>
<b>Chevron Corporation</b> - Houston, TX &nbsp;&nbsp;(Summer '07)<br/>
<i>Energy Technology Company Intern</i>
<ul>
<li>Configured Red Hat Linux servers</li>
<li>Replaced/Configured NetApp network attached storage hardware</li>
<li>Tested Google Earth products using application integration</li>
<li>Created internal wiki for Google Earth community </li>
<li>Wrote VBA macros for Excel/Visio for group infrastructure project</li>
<li>Managed group infrastructure diagram project </li>
</ul>	
<br/><hr>
<hr><br/>
<b>YMCA of Greater Houston Area</b> - Houston, TX &nbsp;&nbsp; (Summer '06)<br/>
<i>IT Department Intern</i>
<ul>
<li>Created profiles for users on Windows servers</li>
<li>Imaged PC's using Ghost server</li>
<li>Configured PC's for use on the domain </li>
<li>Managed local and network printers</li>
<li>Repaired damaged PC's and replaced hardware components</li>
</ul>
<br />