<h1>More Job Experience</h1>
<%= link_to '<< Go Back', :back %>
<br/><hr>
<hr><br/>
<b>Turn2Live.com</b> - Austin, TX<br/>
<i>System Specialist</i>
<ul>
<li>Ruby on Rails Development</li>
<li>Ubuntu Linux Server Administration</li>
</ul>
<br/><hr>
<hr><br/>
<b>Pointserve Inc.</b> - Austin, TX<br/>
<i>Quality Assurance Intern</i>
<ul>                                                              
<li>QA for Workforce Management Software</li>
<li>Agile/Scrum Development</li>
</ul>
<br/><hr>
<hr><br/>
<b>Chevron Corporation</b> - Houston, TX<br/>
<i>Energy Technology Company Intern</i>
<ul>
<li>Red Hat Linux Server Administration</li>
<li>Application Integration & Testing</li>
</ul>	
<br/><hr>
<hr><br/>
<b>YMCA of Greater Houston Area</b> - Houston, TX<br/>
<i>IT Department Intern</i>
<ul>
<li>Hardware/Software Computer Technician</li>
<li>Windows Server Adminstration</li>
</ul>
<br />