<h1>Welcome!</h1>
<p>
	Thanks for visiting Josh Rachner's portfolio.  Included is my resume, descriptions of previous job experience, a blog (which is in the making), and contact information.    
</p>
<p>
	Currently, I am working at a company called Sense Corp, where we do strategic management and IT consulting. I couldn't be in a better place... I graduated from the Red McCombs School of Business at The University of Texas at Austin.  I studied Management Information Systems, Computer Science, and Business.  In just 4 short years, I received a major/minor (MIS/CS), and had the opportunity to work at 4 different companies, all of which were computing jobs. &nbsp;<span style="font-size: 11px;"><a href="experience.html">Read More >></a></span> 
</p>
<p>
	I truly believe that success takes a lifetime.  My desire is to start a nationwide young-student workshop to teach kids between the ages of 6th-12th grade about starting careers.  It will be designed to give kids the opportunity to do real world projects with other peers, while being supervised by experts in the fields of engineering, programming, mathematics, business, and science.    
</p>
