<h1>Welcome!</h1>
<p>
	Thanks for visiting. Included in the portfolio is technology, job experience, the blog, and contact info. <span style="font-size: 11px;"><a href="/technology">Read More >></a></span>
</p>
<p>
	Currently employed at Sense Corp, focusing on business technology consulting across a wide range of industries. <span style="font-size: 11px;"><a href="/experience">Read More >></a></span>
</p>
<p>
	"I truly believe that success takes a lifetime. My desire is to start a nationwide, young-student workshop to teach kids between the ages of 13-21 about starting careers. It will be designed to give students the opportunity to do real world projects with other peers, while being supervised by experts in the fields of engineering, programming, mathematics, business, and science." <b>-Josh</b>
</p>