<h1>Technology</h1>
Below are the programming/procedural/markup langauages and frameworks I use for client - Lately, I have been getting more into strategy work (SEO, Performance, etc.):
<br/><br/>
Java, C/C++, C#, VB, ASP.NET, XHTML, XML, KML, JSON, CSS, JavaScript/JQuery, PHP, AJAX, Ruby, Rails, PL/SQL, T-SQL
<br/><br/><hr/><br/><br/>
<!-- Begin code - Feedzilla's news widget --><div align='center' style='width:480px;'><iframe src='http://www.feedzilla.com/tools/flash_new.asp?lang=us&id=18551607102010784&mode=e&charset=iso-8859-1&lcid=1033&country=us&c=&code=html&scroll=&prov=news&width=480&height=350&cat=IT&cat2=Applications&num_articles=10&show_border=Yes&show_summaries=Yes&show_sources=Yes&show_dates=Yes&title=Technology%20Feed&keywords=&andor=and&url=&headers_size=15pt&title_size=12pt&title_bold=Yes&font_size=10pt&font_family=Arial&text_alignment=Left&space=Yes&titlecolor=%230e120e&fcolor=%235e5e61&desccolor=%231b1b1b&sourcecolor=%23008000&datecolor=%23777777&bordercolor=%2300232c&bgcolor=%23ffffff&related_show=No&kwd=' width='480' height='350' scrolling='no' frameborder='0' marginwidth='0' marginheight='0' allowtransparency='True' style='border:1px solid #00232c'></iframe><BR><font style='font-size:10px;'></div><!-- End code - Feedzilla's news widget-->
