<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
 	<title>Josh Rachner :: Portfolio</title>
 	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
 	<meta name="keywords" content="Josh Rachner Portfolio Programming Web Development Information Technology" />
 	<meta name="description" content="Josh Rachner is a technology consultant based out of Austin, TX, poised to help people and companies build more effective technology" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css"> 
	<%= stylesheet_link_tag 'style', 'colour', 'pagination' %>
	<%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.pagination' %>
  <script type="text/javascript"> 
  
      // This is a very simple demo that shows how a range of elements can
      // be paginated.
      // The elements that will be displayed are in a hidden DIV and are
      // cloned for display. The elements are static, there are no Ajax 
      // calls involved.
  
      /**
       * Callback function that displays the content.
       *
       * Gets called every time the user clicks on a pagination link.
       *
       * @param {int} page_index New Page index
       * @param {jQuery} jq the container with the pagination links as a jQuery object
       */
      function pageselectCallback(page_index, jq){
          var new_content = jQuery('#hiddenresult div.result:eq('+page_index+')').clone();
          $('#Searchresult').empty().append(new_content);
          return false;
      }
     
      /** 
       * Initialisation function for pagination
       */
      function initPagination() {
          // count entries inside the hidden content
          var num_entries = jQuery('#hiddenresult div.result').length;
          // Create content inside pagination element
          $("#Pagination").pagination(num_entries, {
              callback: pageselectCallback,
              items_per_page:2 // Show only one item per page
          });
       }
      
      // When document is ready, initialize pagination
      $(document).ready(function(){      
          initPagination();
      });
      
      
      
  </script>
</head>
<body>
	<div id="main">
    <div id="links">
      		<a href="/">home</a> | <a href="/technology">technology</a> | <a href="/experience">job experience</a> | <a href="/blog" target="_blank">the blog</a> | <a href="/inquiries">contact</a>
    </div>
    	<div id="logo"><h1>Josh Rachner :: Portfolio</h1></div>
    		<div id="content">
      			<div id="column1">
       			<div id="menu">
         				<h1>Navigate</h1>
         				<ul>
           				<li><%= link_to 'home', {:controller => 'home', :action => 'index'}, :id => @index %></li>
									<li><%= link_to 'technology', {:controller => 'home', :action => 'technology'}, :id => @technology %></li>
									<li><%= link_to 'job experience', {:controller => 'home', :action => 'experience'}, :id => @experience %></li>
									<li><%= link_to 'the blog', "http://blog.joshrachner.com", :target => '_blank', :id => @blog %></li>
									<li><%= link_to 'contact', {:controller => 'inquiries'}, :id => @contact %></li>
         				</ul>
       			</div>
       			<div id="addlinks">
         				<h1>Links</h1>
         				<ul>
           				<!--<li><a href="http://linkedin.com/in/joshrachner" target="_blank"> -> LinkedIn Profile</a></li>-->
									<li><a href="http://moodfish.com" target="_blank"> -> Moodish - Entertainment</a></li>
									<li><a href="http://allbouttexas.com" target="_blank"> -> All Bout Texas Tailgate</a></li>
									<li><a href="http://barbrachner.com" target="_blank"> -> Barb Rachner Ministries</a></li>
									<li><a href="http://artbyrock.com" target="_blank"> -> Letter Art by Britt</a></li>
									<li><a href="http://kickdiabetes.org" target="_blank"> -> Kick Diabetes Soccer Camp</a></li>
         				</ul>
       			</div>
       			<div class="sidebaritem" style="height:500px">
         				<h1>Contact</h1>
         				<i>Josh Rachner</i><br />
									josh [at] joshrachner.com<br />
									281-543-0189<br />
									Austin, TX
       			</div>
     			</div>
     			<div id="column2">
       			<%= yield %>
     			</div>
    		</div>
   			<div id="footer">
      			copyright &copy; 2009-<script type="text/javascript">var currentTime = new Date();document.write(currentTime.getFullYear());</script> Josh Rachner | <a href="mailto:support@joshrachner.com">support@joshrachner.com</a>
    		</div>
  		</div>
</body>
</html>
